<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:og="http://ogp.me/ns#">
	<head>
		<link rel="stylesheet" type="text/css" href="/css/home.css"></link>
	</head>
	<body>
		<div id="createProjectModal" class="modal">
			<div class="modal-content">
				<div class="modal-header"><span>Create New Project</span> <i class="fa fa-close modal-close"></i></div>
				<div class="modal-body">
					<label>Name</label><input type="text" id="create-project-name">
				</div>
				<div class="modal-buttons">
					<button class="btn btn-positive btn-create-project-modal">Create</button>
					<button class="btn btn-negative modal-close">Cancel</button>
				</div>
			</div>
		</div>
	
		<div th:replace="fragments/layout :: header"></div>
		<div class="content">
			<button class="btn btn-primary btn-create-project">Create Project</button>
			<div id="project-list">
			
			</div>
		</div>
		
		<!-- Scripts -->
		<object th:include="fragments/layout :: scripts" th:remove="tag"></object>
		<script type="text/javascript" src="/js/home.js"></script>
		<script src="https://use.fontawesome.com/32b60e125e.js"></script>
	</body>
</html>
